<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="g16Insert" scope="prototype"
          class="com.pdpsoft.commonbiz.util.impl.InsertCommonBusinessCommand" />
    <bean id="g16Persist" scope="prototype"
          class="com.pdpsoft.commonbiz.util.impl.PersistCommonBusinessCommand" />
    <bean id="g16Update" scope="prototype"
          class="com.pdpsoft.commonbiz.util.impl.UpdateCommonBusinessCommand" />
    <bean id="g16GetAll" scope="prototype"
          class="com.pdpsoft.commonbiz.util.impl.GetAllCommonBusinessCommand" />
    <bean id="g16FindByPrimaryKeyTypeOne" scope="prototype"
          class="com.pdpsoft.commonbiz.util.impl.FindByPrimaryKeyTypeOneCommonBusinessCommand" />
    <bean id="g16Remove" scope="prototype"
          class="com.pdpsoft.commonbiz.util.impl.RemoveObjectCommonBusinessCommand" />
</beans>